body,h1,h2,h3,h4,h5,h6 {font-family: 'Roboto', sans-serif;}

 html {
  height: 100%;
  width: 100%;
  line-height: 1.8;
  background-image: url("/images/monstera.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  margin:0!important;
  display:flex;
  justify-content:center;
}

body {
    width: 80%;
    /*border:2px solid red;*/
    display:flex;
    align-items:center;
}

.main-container {
    display:flex;
    width:50%;
    /*border:2px solid purple;*/
    justify-content:center;
    background: rgba(255,255,255,.5);
    border-radius:15px;
}

.container.container-form {
    padding:10px;
}

input[type="submit"],
input#email, 
input[type="text"]
{
    padding:10px;
    border-radius:15px;
    border:2px solid #5a5223;
}

input[type="submit"] {
    background-color:#5a5223;
    color:#fff;
    font-family: 'Roboto', sans-serif;
    color:#fff;
}

p.response {
    font-weight: bold;
}

p.response span {
    font-weight: normal;
}

svg {
    width:20px;
    vertical-align:sub;
    color:#5a5223;
}


@media screen and (max-width:980px) {
    .main-container {
        width:100%;
    }
}



